<!DOCTYPE html>
<html>
<head>
  <title>RedisSearchExample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="searchbox">
    Search: <input type="text" class="query" name="q" />
  </div>

  <%= yield %>

</body>
</html>
